# Dependencies
node_modules/

# Build output
dist/
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.AppleDouble
.LSOverride
._*

# Debugging
npm-debug.log
yarn-debug.log
yarn-error.log 